textarea:focus, input:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

textarea:focus + label, input:focus + label {
    color: #2196f3 !important;
}

.upload_btn {
    background-color: #2196f3;
}

.upload_btn:hover {
    background-color: #57abf1;
}

.img_input {
    max-width: 20px;
    /* margin-left: -30px !important; */
    border-bottom: none !important;
}

.datepicker, .timepicker {
    max-width: 140px;
    border-radius: 3px !important;
    color: #ffffff;
    background-color: #2196f3 !important;
    text-align: center;
}

.datepicker:hover, .timepicker:hover {
    cursor: pointer;
    background-color: #57abf1 !important;
}

.datepicker-date-display, .is-selected > .datepicker-day-button {
    background-color: #2196f3;
    color: #4c4c4c;
}

.is-today > .datepicker-day-button {
    color: #4c4c4c;
}

.btn-flat {
    color: #2196f3;
}

.timepicker-digital-display {
    background-color: #2196f3;
}

.submit-btn {
    background-color: #2196f3;
    width: 140px;
    padding: 5px auto;
}

.submit-btn:hover {
    background-color: #57abf1;
}