{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Default Title{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static '/base.css' %}">
    {% endblock %}
  </head>
  <body>
    <div id="content">
      <div class="topnav">
        <a class="logo" href="#home">Events app</a>
        <a class="active" href="#home">Log in/Log out</a>
        <a href="#news">Profile</a>
        <a href="#contact">Organize Event</a>
        <a href="#organize-event">View Events</a> 
      </div> 
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>