{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Default Title{% endblock %}</title>
        {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static '/base.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <nav class="blue menu">
      <div class="nav-wrapper">
        <a href="{% url 'view_events' %}" class="brand-logo">Events App</a>
    
        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
          <i class="material-icons">menu</i>
        </a>
    
        <ul class="right hide-on-med-and-down "  >
          <li><a href="{% url 'view_events' %}">View Events</a></li>
          <li><a href="{% url 'organize_event' %}">Organize Event</a></li>
          <li><a href="{% url 'login_logout' %}">Login/Logout</a></li>  
        </ul>
      </div>
    </nav>
    
    <ul class="sidenav" id="mobile-nav">
          <li><a href="{% url 'view_events' %}">View Events</a></li>
          <li><a href="{% url 'organize_event' %}">Organize Event</a></li>
          <li><a href="{% url 'login_logout' %}">Login/Logout</a></li>
    </ul>

    <div class="container">
        <!-- Page Content goes here -->
        {% block content %}
        {% endblock %}
        <div>
          {% lorem 9 b random %}
          {% lorem 9 b random %}
          {% lorem 9 b random %}
          {% lorem 9 b random %}
          {% lorem 9 b random %}
          {% lorem 9 b random %}
        </div>
    </div>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> {% endcomment %}
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
  </body>
</html>