{% extends "events_app/base.html" %}

{% load static %}

{% block title %}Full list of events{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/event_list.css' %}">
{% endblock %}

{% block content %}

    <div class="row top-padding-30">
      <div class="col s12 m6 offset-m3">

        {% for event in events %}
          <div class="card center-align item-z-index-5">
            <div class="card-image">
              <img src="{{ event.image.url }}"> 
              <span class="card-title">{{ event.title }}</span>
            </div>
            <div class="card-content">
              <span>{{ event.event_data }}</span></br>
              <span>{{ event.location }}</span></br></br>
              <p>{{ event.description|truncatechars:400 }}</p>
            </div>
            <div class="card-action">
              <a href="#">Detail View</a>
            </div>
          </div>
        {% endfor %}


          {% comment %} <div class="card center-align item-z-index-5">
            <div class="card-image">
              <img src="https://www.imgcorporations.com/images/bg-img.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>

          <div class="card center-align item-z-index-5">
            <div class="card-image">
              <img src="https://www.imgcorporations.com/images/bg-img.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>

          <div class="card center-align item-z-index-5">
            <div class="card-image">
              <img src="https://www.imgcorporations.com/images/bg-img.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div> {% endcomment %}

      </div>
    </div>
{% endblock %}
